[packages]
predict-customer-churn-with-clean-code = {path = "."}

[dev-packages]
predict-customer-churn-with-clean-code = {editable = true, extras = ["dev"], path "."}

[requires]
python_version = "3.8"

[scripts]
unittests = "pytest -s -vv --disable-warnings --capture=no --log-cli-level=INFO --failed-first -x --cov-report term-missing --cov=. tests"
format = "black --target-version=py38 ."
execute = "python main.py"
